.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.special-link:hover {
  color: #833F51;
  text-decoration: underline;
}

.normal-link:hover {
  color: #833F51;
}

hr.solid {
  border-top: 1px solid #EBEBEB;
}

.fixed-size-box {
  width: 600px; /* Set the width of the box */
  height: 75px; /* Set the height of the box */
  background-color: #EBEBEB; /* Change this to your desired background color */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Center the box horizontally */
  border-radius: 10px; /* Optional: to give the box rounded corners */
  text-align: center;
}

.fixed-size-box p {
  margin: 0;
  color: #333; /* Change this to your desired text color */
  font-size: 115%;
}