.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.special-link:hover {
  color: #833F51;
  text-decoration: underline;
}

hr.solid {
  border-top: 1px solid #EBEBEB;
}

.textbox {
  width: 110px;
  height: 32px;
  padding: 10px -10px 10px 10px;
  border: 5px solid #EBEBEB;
  margin: 0;
  fill: #EBEBEB;
}